.custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'ubah gambar';
    color: #446A46;
    display: inline-block;
    background-color: #f4f5f6;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: .9rem;
  }
  .custom-file-input:hover::before {
    border-color: #446A46;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background-color: #446A46; 
    color: #f4f5f6;
  }
  